body {
    margin: 50px;
}

p {
    font-family: Georgia, serif;
    font-size: 22px;
    line-height: 34px;
}

h2 {
    font-family: Georgia, serif;
    font-weight: bold;
    font-size: 30px;
}

h4 {
    /*width: 300px;*/
    font-family: Georgia, serif;
    font-weight: normal;
    font-size: 22px;
    line-height: 34px;
    /*border: 5px solid green;*/
    background-color: #fff9ea;
    padding: 25px;
    /*margin: 25px;*/
}

thead {
    text-align: left; 
}

th {
    font-size: 28px;
}

tr {
    font-size: 28px;
}

/* Style the tab */
.tab {
    font-size: 18px;
    font-family: Georgia, serif;
    overflow: hidden;
    /*border: 1px solid #ccc;*/
    background-color: #fff9ea;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    font-family: Georgia, serif;
    font-size: 22px;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    font-family: Georgia, serif;
    font-size: 22px;
    background-color: #fff4db;
}

/* Create an active/current tablink class */
.tab button.active {
    font-family: Georgia, serif;
    font-size: 22px;
    background-color: #ffeeb7;

}

/* Style the tab content */
.tabcontent {
    font-size: 22px;
    font-family: Georgia, serif;
    display: none;
    padding: 6px 12px;
    /*border: 1px solid #ccc;*/
    border-top: none;
}

.conditional {
    float: left;
    /*position: relative;*/
    /*border: 5px solid pink;*/
    background-color: #fff9ea;
    padding: 3%;
    width: 60%;
    height: 350px;
}

.front {
    font-family: Georgia, serif;
    font-size: 22px;
    line-height: 34px;
    color: black;
    text-decoration: none;
}

.frontHolder {
    padding: 24px;
    background-color: #fff9ea;
    margin: 25px 0px;
}

/*.topButton {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    width: 25%;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin: 5px;
    height: 50px;
    vertical-align: top;
    float: right;
}*/

.undoSubmit {
    font-family: Georgia, serif;
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    width: 150px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin: 5px;
}

.txtbox {
    height: 100px;
    width: 500px;
    overflow-wrap: normal;
    width: 50%;
}

.voteButton {
    background-color: #fff4db;
    font-family: Georgia, serif;
    font-size: 18px;
}

.voteText {
    font-family: Georgia, serif;
}

.reviewDetails {
    font-family: "Trebuchet MS", sans-serif;
}

/*.arrow {
    display: block;
    width: 5%;
    height: 5%;
    margin: 4% 0%;
}
*/
#login {
    text-align:right;
}

#newline {
    float: none; 
    display: block; 
    position: relative;
    clear: left;
}

#rightjustify {
    float: right;
    /*position: relative;*/
    /*border: 5px solid pink;*/
    background-color: #fff9ea;
    padding: 3%;
    width: 25%;
    height: 350px;

}

#upper {
    float: left;
    position: relative;
}

#downer {
    float: right;
    position: relative;
}

/*#topcontainer {
    width: 40%;
    position:absolute;
    top: 4%;
    right: 2%;
    padding: 6px 12px;
    display: flex;
}*/

/*#topleft {
    width: 30%;
    position:absolute;
    top: 4%;
    right: 66%;
    padding: 6px 12px;
    display: flex;
}*/

/*#readcontainer {
    padding: 0% 15%;
}*/

/*#topright {
    flex-grow: 1;
}
*/
#addCredits {
    width: 300px;
}

#header {
    font-size: 36px;
    font-family: Georgia, serif;
    font-weight: normal;
    text-decoration: none; 
    color:black;
    padding: 6px 12px;
    position: relative;
    width: 98%;
    height: 2%;
}

#ReadText, #ReviewText, #ContributeText {
    overflow: hidden;
}

#contributeButton {
    font-family: Georgia, serif;
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    width: 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin: 1px;
    height: 50px;
    padding-top: 5px;
}

#newArticleButton {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    width: 250px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin: 10px;
    height: 50px;
}

#instructions {
    font-family: Georgia, serif;
    font-size: 22px;
    color: #b36b00;
}

#increaseCreditButton {
    font-family: Georgia, serif;
    font-size: 18px;
    display: inline-block;
    background: white;
    color: black;
    width: 50px;
    border-radius: 5px;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
    margin: 5px;
    height: 50px;
}

#cloutCount {
    font-family: Georgia, serif;
    font-size: 18px;
    display: inline-block;
}

/*#logo {

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
}*/

#rules {
    padding: 0% 0% 0% 5%
}

#google.com {
    width: 31%;
}







